.versionCounter {
    position: relative;
    display: inline-block;
    color: white; /* fallback */
    background: repeating-linear-gradient(
            0deg,
            rgb(255, 255, 255),
            rgb(255, 255, 255) 2px,
            transparent 3px,
            transparent 1px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: scanlines 0.7s steps(4) infinite;
}

@keyframes scanlines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 4px;
    }
}
